*.o

config.log
config.status
makevars
opium
src/FlexiLib/objects
src/atom/objects
src/lapack/objects
src/main/objects
src/output/objects
src/plot/objects
src/pseudo/objects
src/uniPPlib/objects

psp/
