*.o

opium-v3.8-src/config.log
opium-v3.8-src/config.status
opium-v3.8-src/makevars
opium-v3.8-src/opium
opium-v3.8-src/src/FlexiLib/objects
opium-v3.8-src/src/atom/objects
opium-v3.8-src/src/lapack/objects
opium-v3.8-src/src/main/objects
opium-v3.8-src/src/output/objects
opium-v3.8-src/src/plot/objects
opium-v3.8-src/src/pseudo/objects
opium-v3.8-src/src/uniPPlib/objects

pseudopot/
