language: c

sudo: required

   #language: c

# Run jobs on container-based infrastructure, can be overridden per job
#sudo: required 

#env:
#    matrix:
#        BUILD_SCRIPT="make clean ; ./configure ; make"
#        CODE_COVERAGE="no"
#        DEPLOY_DOCUMENTATION="no"

before_install:
    - if [ "$TRAVIS_OS_NAME" == "linux" ]; then
         sudo apt-get update -qq;
         sudo apt-get install gfortran
         # sudo apt-get install -y gfortran libblas-dev liblapack-dev;
         sudo ln -s /usr/lib/gcc/x86_64-linux-gnu/$(gfortran -dumpversion | cut -f1,2 -d.)/libgfortran.so /usr/local/lib;
      else
        brew install gcc;
    fi

script:
    #    - echo $BUILD_SCRIPT
    - make clean && ./configure && make
    - opium testdir/C/GGA/c.param testdir/C/GGA/c.log ae

notifications:
  email: false

