language: c

sudo: required

before_install:
    - sudo apt-get install gfortran
    - sudo apt-get install python 

script:
    - ./configure && make
    - cp opium testdir/O/GGA/
      # - ./opium testdir/O/GGA/o.param testdir/O/GGA/o.log ae
    - cd testdir/O/GGA
    - ./opium o o.log ae
    - grep -B6 'End AE calculation' o.log > alleEng
    - python comparetest.py 

notifications:
  email: false

