language: c

sudo: required

before_install:
         sudo apt-get install gfortran

script:
    - ./configure && make
    - cp opium testdir/O/GGA/
      # - ./opium testdir/O/GGA/o.param testdir/O/GGA/o.log ae
    - cd testdir/O/GGA
    - ls
      #    - ./opium o o.log ae
      # - grep -B6 'End AE calculation' o.log > alleEng
      # - diff alleEng refence/alleEng 

notifications:
  email: false

